.mobile-navigation {
  display: none;
}

.mobile-navigation.open {
  display: block;
}

.mobile-menu-space {
  margin-left: 1rem;
}
.headerC{
  height: 100px;
}
#logo-img{
  height: 100px;
}
.main-header{
  margin-top: -1.8rem;
}