.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust transparency as needed */
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, bottom 0.3s ease;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .card-image-top:hover .overlay {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
  .overlay-text{
    color: #fff;
    margin-top: 6rem;
  }